.section{
  // &_ai {}
  &_video-analysis {
    flex-wrap: wrap-reverse;
    & > .section__description {
      display: flex;
      margin-top: 0;
      align-self: flex-end;
    }
  }
  &_recognition {
    height: 80vh;
    width: 70%;
    margin: $section-mt auto;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: $section-gap;
    justify-content: center;
    & > .section__description {
      width: 47%;
    }
  }
  &_modeling{
    flex-wrap: wrap-reverse;
  }
  // &_player-analysis{}
}
.machinae{
  &__wrapper{
    width: 70%;
    margin: 0 auto;
    display: flex;
    height: 1000px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__title{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: $accent-color;
  }
  &__logo {
    margin-top: 40px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}